# This file holds configuration common to development and deployment.

[buildout]
extends = 
    pinned_versions.cfg
    floating_versions.cfg

versions = versions
prefer-final = true
unzip = true

sources = sources
sources-dir = src-mrd
auto-checkout = *

extensions =
    buildout.bootstrap
    mr.developer
