[versions]
#
# --- versions that were dumped for us - we pin these to keep a known-good set of eggs
#
Pillow = 1.7.1
#buildout.dumppickedversions = 0.4
buildout.bootstrap = 1.1
collective.recipe.template = 1.8
collective.recipe.backup = 2.4
plone.recipe.precompiler = 0.4
plone.recipe.command = 1.1
collective.recipe.omelette = 0.11
Products.DocFinderTab = 1.0.4
z3c.recipe.usercrontab = 1.1
